.finish-btn{
    background-color: orange;
}
.previous-btn{
    background-color: lightgreen;
}
.next-btn{
    background-color: lightgreen;

}
.rev-btn{
    background-color: #9e9d9d;
    color: white;
}
.clear-ans{
    background-color: #9e9d9d;
    color: white;
    
}