
aside.right-panel {
    position: fixed; /* Fix the panel on the right */
    right: 0; /* Position it at the right edge */
    top: 0; /* Start from the top */
    width: 380px; /* Adjust width as needed */
    background-color: #f0f0f0;
    padding: 20px;
    flex: 1;
    min-height: 100vh;
    height: 100vh;
    border-style: groove;
    overflow-y: scroll; 
    /* Enable scrolling if content overflows */
}
.summaryGrid p{
    font-size: 2.5rem; margin: 0px;
}